.currency {
  margin: 20px auto;
  max-width: fit-content;
  text-align: center;

  .table {
    display: table;
    border-collapse: collapse;
    border-spacing: 20px;

    .daily {
      &__list {
        position: absolute;
        text-align: left;
        top: -20px;
        right: -30px;
        padding: 25px;
        z-index: 1;
        background-color: #949494;
      }
    }

    &__caption {
      font-size: 24px;
    }

    &__row {
      position: relative;
      border-bottom: 1px solid #000;
      transition: background-color 0.2s;

      &--body {
        &:hover {
          cursor: pointer;
          background-color: rgb(209, 209, 209);
        }
      }
    }

    &__cell {
      padding: 5px 5px;

      &--daily {
        text-align: left;
        padding: 10px 10px 10px 50px;
      }
    }
  }
}

.loader {
  position: fixed;
  display: none;
  top: 35%;
  left: 45%;
  border: 16px solid #555555;
  border-top: 16px solid #a7a7a7;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  z-index: 1;
  animation: spin 2s linear infinite;

  &__active {
    display: block;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}