.currency {
  margin: 20px auto;
  max-width: fit-content;
  text-align: center;

  .table {
    display: table;

    &__caption {
      font-size: 24px;
    }

    &__row {
      &:hover {
        background-color: rgb(209, 209, 209);
      }
    }

    &__cell {
      padding: 5px 5px;
    }
  }
}


.loader {
  position: absolute;
  display: none;
  top: 20%;
  left: 45%;
  border: 16px solid #000000;
  border-top: 16px solid #ffffff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;

  &__active {
    display: block;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}